<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='/static/trilobot.css' />
</head>
<body>

<!-- Start of left  div  -->	

<div class="leftdiv">

<!-- Controls Div  -->

<div id="motorAndServo">
</div>		

<!-- Display data grids -->
<div id="dataGridOrButton">
<br><br>
</div>

<div id="buttonOrDataGrid">
</div>

<!-- End of left div  -->

</div>

<!-- Start of right div  -->

<div class="rightdiv"  style="background-color: 000000;">

<div>
<iframe class="iframestyle" src="http://192.168.1.221:8000/index.html" width="660" height="660" scrolling="yes">Iframes not supported</iframe>
</div>

<div id="buttonOrDataGridRight">
</div>

</div>


<!-- End of right div  -->

<!-- Link JavaScript file -->
<script src="/static/trilobot.js"></script>
</body>
</html>


